.boardContent {
    margin: auto;
    width: 1162px;
    height: auto;
    margin-top: 30px;
}

.boardTitle {
    width: 50%;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardTitle > div {
    width: 20px;
    height: 25px;
}

.boardTitle > div > img {
    width: 100%;
}

.boardTable {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

th,
td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #cdcdcd;
}

thead > tr {
    height: 45px;
    font-size: 1rem;
}

tbody > tr {
    height: 40px;
    text-align: center;
}

tbody > tr :nth-child(3) {
    text-align: start;
}

col.number {
    width: 8%;
}
col.category {
    width: 12%;
}
col.title {
    width: 48%;
}
col.author {
    width: 12%;
}
col.date {
    width: 12%;
}
col.hit {
    width: 8%;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
}

.boardSide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.boardwrite {
    background-color: #733232;
    font-size: 1.1rem;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}

.boardwrite a {
    color: white;
    line-height: 30px;
}

.boardSearch {
    width: 70%;
}
.search {
    margin-left: 20px;
}

select[name="category"] {
    font-size: 14px;
    padding: 10px 15px;
    width: 130px;
}

input[name="search_input"] {
    font-size: 14px;
    padding: 10px 15px;
    width: 220px;
}

input[name="search_input"]:focus {
    outline: none;
}

.searchbtn {
    border: none;
    background-color: #733232;
    font-size: 1.1rem;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.noticeth {
    background-color: #402721;
    color: white;
}

.listth {
    background-color: #a67968;
    color: white;
}
