<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit My Page</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
        <link type="text/css" rel="stylesheet" href="/css/account/mypage.css" />
        <link rel="icon" type="image/png" href="/images/pavicon.png" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" /></a>
                </div>
                <div class="nav">
                    <a href="/notice/list">NOTICE</a>
                    <a href="/boards/list">BOARD</a>
                    <a href="/accounts/mypage">MY PAGE</a>
                    {% if user%}
                    <a href="/accounts/signout">SIGN OUT</a>
                    {% else %}
                    <a href="/accounts/signin">SIGN IN</a>
                    {% endif %}
                </div>
            </div>
            <div class="wrapper">
                <div class="mypage">
                    <h2>My-Profile</h2>
                    <div class="profile">
                        <img src="/images/profile.png" />
                    </div>
                    <div class="user_id">{{user_id}}</div>
                    <div class="infobox modify">
                        <form action="/accounts/modify" method="post">
                            <input
                                type="hidden"
                                name="user_id"
                                value="{{user_id}}"
                            />
                            <div class="info">
                                <div>
                                    <img src="/images/id.png" />
                                </div>
                                <span>
                                    <input
                                        type="text"
                                        name="user_name"
                                        value="{{user_name}}"
                                    />
                                </span>
                            </div>
                            <div class="info">
                                <div>
                                    <img src="/images/pw.png" />
                                </div>
                                <span>
                                    <input
                                        type="password"
                                        name="user_pw"
                                        value="{{user_pw}}"
                                    />
                                </span>
                            </div>
                            <div class="info">
                                <div>
                                    <img src="/images/mail.png" />
                                </div>
                                <span>
                                    <input
                                        type="email"
                                        name="user_email"
                                        value="{{user_email}}"
                                    />
                                </span>
                            </div>
                            <div class="info">
                                <div>
                                    <img src="/images/day.png" />
                                </div>
                                <span>
                                    <input
                                        type="number"
                                        name="user_birthdate"
                                        value="{{user_birthdate}}"
                                    />
                                </span>
                            </div>
                            <div class="info">
                                <div>
                                    <img src="/images/phone.png" />
                                </div>
                                <span>
                                    <input
                                        type="number"
                                        name="user_phone"
                                        value="{{user_phone}}"
                                    />
                                </span>
                            </div>
                            <div class="btnbox">
                                <button type="submit" class="tosave">
                                    SAVE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a
                    href="https://github.com/Solidstate7/CRUD_BOARD_PROJECT"
                    target="_blank"
                >
                    <img src="/images/git.png" />
                </a>
            </div>
        </div>
    </body>
</html>
