@font-face {
    font-family: "header";
    src: url("/fonts/ttf/NanumGothicCoding-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "title";
    src: url("/fonts/ttf/OtomanopeeOne-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3333;
}

.main {
    /* width: 1440px; */
    width: 100%;
    max-width: 1920px;
    height: 950px;
    position: relative;
    overflow: hidden;
}

.header {
    background: #a67968;
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 15%;
    margin-left: 20px;
}

.logo a > img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 103px;
    top: 0px;
}

.nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    font-family: "header", sans-serif;
}

.nav a {
    color: white;
    width: 20%;
    font-size: 1.3rem;
}

.wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 150px;
}

.slideBox {
    width: 850px;
    height: 450px;
    margin: 70px auto;
}

.slide {
    width: 100%;
    height: 350px;
    margin: auto;
    transition: transform 0.5s ease;
    display: block;
}

.slide.active {
    left: 0;
    transform: translateX(-100%);
}

.slide img {
    width: 100%;
}

.slideController {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ellipse.active {
    background: #402721;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.ellipse {
    background: #d9d9d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.footer {
    background: #a67968;
    /* width: 1440px; */
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    width: 40px;
}

.footer a img {
    width: 100%;
}

/* @media screen and (max-width: 1880px) {
    .boardContent {
        left: 350px;
    }
} */
