.viewbox {
    width: 60%;
    height: 650px;
    margin: auto;
    /* border: 1px solid black; */
}

.firstLine {
    width: 100%;
    margin: 50px 0 20px 50px;
    color: #747373;
    display: flex;
    /* margin: auto; */
}
.category {
    width: 100px;
    font-size: 1.2rem;
    margin-right: 15px;
    border: 1px solid #747373;
    text-align: center;
}

.secondLine {
    width: 87%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 1.1rem;
    color: #747373;
}
.line {
    width: 88%;
    border-bottom: 1px solid #747373;
    margin: 15px 0 20px 50px;
}

.thirdLine {
    width: 88%;
    height: 400px;
    /* content가 들어오면 border 삭제 */
    border: 1px solid #747373;
    margin-left: 50px;
}

.btnbox {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 20px;
    gap: 30px;
}

.tolist,
.tomodify {
    background-color: #733232;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}
.tolist a,
.tomodify a {
    color: white;
}

.todelete {
    border: none;
    background-color: #733232;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    line-height: 38px;
}
