<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" /></a>
                </div>
                <div class="nav">
                    <a href="/boards/notice">NOTICE</a>
                    <a href="/boards/list">BOARD</a>
                    <a href="/accounts/mypage">MY PAGE</a>
                    <a href="/accounts/signin">SIGN IN</a>
                    <a href="/accounts/signout">Sign the fuck out</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="slideBox">
                    <div class="slide">
                        <img src="/images/slide1.png" />
                    </div>
                    <div class="slide">
                        <img src="/images/slide2.png" />
                    </div>
                    <div class="slide">
                        <img src="/images/slide3.png" />
                    </div>
                    <div class="slide">
                        <img src="/images/slide4.png" />
                    </div>
                </div>
                <div class="slideController">
                    <div class="ellipse active"></div>
                    <div class="ellipse"></div>
                    <div class="ellipse"></div>
                    <div class="ellipse"></div>
                </div>
            </div>
            <div class="footer">
                <a
                    href="https://github.com/Solidstate7/CRUD_BOARD_PROJECT"
                    target="_blank"
                >
                    <img src="/images/git.png" />
                </a>
            </div>
        </div>
        <script type="text/javascript" src="/js/slide.js"></script>
    </body>
</html>
