<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Board</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
        <link type="text/css" rel="stylesheet" href="/css/board/list.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" /></a>
                </div>
                <div class="nav">
                    <a href="/notice/list">NOTICE</a>
                    <a href="/boards/list">BOARD</a>
                    <a href="/accounts/mypage">MY PAGE</a>

                    {% if user %}
                    <a href="/accounts/signout">SIGN OUT</a>
                    {% else %}
                    <a href="/accounts/signin">SIGN IN</a>
                    {% endif %}
                </div>
            </div>
            <div class="wrapper">
                <div class="boardContent">
                    <div class="boardTitle">건의게시판</div>
                    <table class="boardTable">
                        <colgroup>
                            <col class="number" />
                            <col class="category" />
                            <col class="title" />
                            <col class="author" />
                            <col class="date" />
                            <col class="hit" />
                        </colgroup>
                        <thead>
                            <tr class="listth">
                                <th>No.</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Date</th>
                                <th>Hit</th>
                            </tr>
                        </thead>

                        {% for data in list %}
                        <tbody>
                            <tr>
                                <td>{{data.id}}</td>
                                <td>
                                    {% if data.category == 1 %}
                                    훈련내용
                                    {% elif data.category == 2 %}
                                    훈련방법
                                    {% elif data.category == 3 %}
                                    훈련교사
                                    {% elif data.category == 4 %}
                                    시설장비
                                    {% elif data.category == 5 %}
                                    행정서비스
                                    {% elif data.category == 6 %}
                                    취업지원
                                    {% else %}
                                    카테고리 없음
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/boards/view?id={{data.id}}">
                                        {{data.title}}
                                    </a>
                                </td>
                                {% if data.author %}
                                <td>{{data.author}}</td>
                                {% else %}
                                <td>탈퇴한 회원</td>
                                {% endif %}
                                <td>{{data.date}}</td>
                                <td>{{data.hit}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <div class="pagination">
                        <div class="page">1</div>
                        <div class="page">2</div>
                        <div class="page">></div>
                    </div>
                    <div class="boardSide">
                        <div class="boardSearch">
                            <form class="search" action="" method="">
                                <select name="category">
                                    <option value="" disabled selected>
                                        선택하세요
                                    </option>
                                    <option value="1">훈련내용</option>
                                    <option value="2">훈련방법</option>
                                    <option value="3">훈련교사</option>
                                    <option value="4">시설장비</option>
                                    <option value="5">행정서비스</option>
                                    <option value="6">취업지원</option>
                                </select>
                                <input
                                    type="text"
                                    name="search_input"
                                    placeholder="검색어를 입력하세요"
                                />
                                <button type="submit" class="searchbtn">
                                    SEARCH
                                </button>
                            </form>
                        </div>
                        <div class="boardwrite">
                            <a href="/boards/write">POST</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a
                    href="https://github.com/Solidstate7/CRUD_BOARD_PROJECT"
                    target="_blank"
                >
                    <img src="/images/git.png" />
                </a>
            </div>
        </div>
    </body>
</html>
