<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Write</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
        <link type="text/css" rel="stylesheet" href="/css/board/write.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" /></a>
                </div>
                <div class="nav">
                    <a href="/notice/list">NOTICE</a>
                    <a href="/boards/list">BOARD</a>
                    <a href="/accounts/mypage">MY PAGE</a>
                    {% if user%}
                    <a href="/accounts/signout">SIGN OUT</a>
                    {% else %}
                    <a href="/accounts/signin">SIGN IN</a>
                    {% endif %}
                </div>
            </div>
            <div class="wrapper">
                <div class="formbox">
                    <form action="/boards/modify?id={{id}}" method="post">
                        <div class="firstLine">
                            <select name="category">
                                <option disabled selected value="">
                                    {% if category == 1 %}
                                    훈련내용
                                    {% elif category == 2 %}
                                    훈련방법
                                    {% elif category == 3 %}
                                    훈련교사
                                    {% elif category == 4 %}
                                    시설장비
                                    {% elif category == 5 %}
                                    행정서비스
                                    {% elif category == 6 %}
                                    취업지원
                                    {% else %}
                                    카테고리 없음
                                    {% endif %}
                                </option>
                                <option value="1">훈련내용</option>
                                <option value="2">훈련방법</option>
                                <option value="3">훈련교사</option>
                                <option value="4">시설장비</option>
                                <option value="5">행정서비스</option>
                                <option value="6">취업지원</option>
                            </select>
                            <span>작성자: {{author}}</span>
                        </div>
                        <div class="secondLine">
                            <input type="text" name="title" value="{{title}}" />
                        </div>
                        <div class="line"></div>
                        <div class="thirdLine">
                            <textarea name="content">{{content}}</textarea>
                        </div>
                        <div class="btnbox">
                            <div class="tolist">
                                <a href="/boards/list">RETURN TO LIST</a>
                            </div>
                            <button type="submit" class="topost">POST</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer">
                <a
                    href="https://github.com/Solidstate7/CRUD_BOARD_PROJECT"
                    target="_blank"
                >
                    <img src="/images/git.png" />
                </a>
            </div>
        </div>
    </body>
</html>
