<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View</title>
        <link type="text/css" rel="stylesheet" href="/css/index.css" />
        <link type="text/css" rel="stylesheet" href="/css/board/view.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" /></a>
                </div>
                <div class="nav">
                    <a href="/notice/list">NOTICE</a>
                    <a href="/boards/list">BOARD</a>
                    <a href="/accounts/mypage">MY PAGE</a>
                    {% if user%}
                    <a href="/accounts/signout">SIGN OUT</a>
                    {% else %}
                    <a href="/accounts/signin">SIGN IN</a>
                    {% endif %}
                </div>
            </div>
            <div class="wrapper">
                <div class="viewbox">
                    <div class="firstLine">
                        <div class="category">{{category}}</div>
                        <h2>{{title}}</h2>
                    </div>
                    <div class="secondLine">
                        <p>{{author}} &nbsp; | &nbsp; {{date}}</p>
                        <p>조회수 {{hit}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="thirdLine">{{content}}</div>
                    <div class="btnbox">
                        <div class="tolist font">
                            <a href="/boards/list">목록</a>
                        </div>
                        <div class="tomodify font">
                            <a href="/boards/modify?id={{id}}">수정</a>
                        </div>
                        <form method="post" action="/boards/delete?id={{id}}">
                            <button type="submit" class="todelete font">
                                삭제
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a
                    href="https://github.com/Solidstate7/CRUD_BOARD_PROJECT"
                    target="_blank"
                >
                    <img src="/images/git.png" />
                </a>
            </div>
        </div>
    </body>
</html>
