.mypage {
    margin: auto;
    width: 570px;
    margin-top: 30px;
}

h2 {
    color: #733232;
    text-align: center;
    margin-bottom: 30px;
    font-family: "title", sans-serif;
}

.profile {
    background-color: #733232;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}

.profile img {
    padding: 30px;
    width: 100%;
}

.user_id {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
}

.infobox {
    background-color: #d9d9d9;
    height: 280px;
    border-radius: 20px;
    padding: 7px 14px;
}

.info {
    display: flex;
    margin: 10px 0 10px 50px;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    background-color: white;
    width: 450px;
    border-radius: 20px;
    padding: 7px 17px;
}

.info > div {
    width: 30px;
    height: 27px;
    margin-left: 10px;
}

.info > div > img {
    width: 100%;
}

.btnbox {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 20px;
    gap: 30px;
}

.tolist,
.tomodify {
    background-color: #733232;
    font-size: 1.1rem;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}
.tolist a,
.tomodify a {
    color: white;
    line-height: 30px;
}

.todelete {
    border: none;
    background-color: #733232;
    font-size: 1.1rem;
    width: 170px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}

input[name="user_name"],
input[name="user_pw"],
input[name="user_email"],
input[name="user_birthdate"],
input[name="user_phone"] {
    border: none;
    line-height: 30px;
    width: 350px;
}
input[name="user_name"]:focus,
input[name="user_pw"]:focus,
input[name="user_email"]:focus,
input[name="user_birthdate"]:focus,
input[name="user_phone"]:focus {
    outline: none;
}

.tosave {
    border: none;
    background-color: #733232;
    font-size: 1.1rem;
    width: 170px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    color: white;
}
