@font-face {
    font-family: "MyCustomFont";
    src: url("/fonts/ttf/OtomanopeeOne-Regular.ttf") format("truetype");
}

.sign {
    position: absolute;
    left: 550px;
    top: 250px;
    width: 451px;
    height: auto;
}

h2 {
    color: #733232;
    text-align: center;
    margin-bottom: 50px;
    font-family: "MyCustomFont", sans-serif;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    width: 100%;
}

ul li {
    border-radius: 15px;
    border: 1px solid #7f7d7a;
    padding: 10px;
    margin: 15px;
    width: 350px;
    display: flex;
    align-items: center;
}
.icon {
    display: inline-block;
    width: 20px;
    margin-right: 20px;
}
.icon img {
    width: 100%;
}

input[name="user_id"],
input[name="user_pw"],
input[name="user_name"],
input[name="user_email"],
input[name="user_birthdate"],
input[name="user_phone"] {
    width: 70%;
    height: 100%;
    border: none;
}
input[name="user_id"]:focus,
input[name="user_pw"]:focus,
input[name="user_name"]:focus,
input[name="user_email"]:focus,
input[name="user_birthdate"]:focus,
input[name="user_phone"]:focus {
    outline: none;
}

.text {
    margin-left: 30px;
    color: #7f7d7a;
}

.btn {
    background-color: #733232;
    color: #fff;
    width: 350px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    font-weight: 400;
    font-size: 1rem;
}

.account {
    color: #7f7d7a;
    margin-top: 30px;
    text-align: center;
}
